<form #f="ngForm">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input Id="firstName"
           class="form-control"
           minlength="3"
           #firstName="ngForm"
           ngControl="firstName"
           placeholder="Enter first name"
           required="First name is required."
           type="text" />
     <div *ngIf="firstName.touched && firstName?.errors?.required">
        <div class="alert alert-danger">
            First name is required.
        </div>
     </div>  
     <div *ngIf="firstName.touched && firstName?.errors?.minlength">
        <div class="alert alert-danger">
            First name should be {{firstName?.errors?.minlength?.requiredLength}} long.
        </div>
     </div>        
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input Id="email"
           class="form-control"
           ngControl="email"
           #email="ngForm"
           placeholder="Enter email"
           required="email is required."
           type="email" />
           
            <div *ngIf="email.touched && email?.errors?.required">
        <div class="alert alert-danger">
            Email is required.
        </div>
     </div>  
  </div>
  <div class="form-group">
    <label for="emailFrequency">Frequency of emails</label>
    <select class="form-control"
            id="emailFrequency">
      <option>Daily</option>
      <option>Weekly</option>
      <option>Monthly</option>
    </select>
  </div>
  <button class="btn btn-primary"
          type="submit" [disabled]="!f.valid">Submit</button>
</form>
