<div *ngIf='isLoadingUserData'>
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">@{{user?.login}}</h4>
    </div>
    <div class="media-bottom">
        <a href="#">
            <img class="media-object" class="avatar" src="{{user?.avatar_url}}" alt="{{user?.login}}">
        </a>
    </div>
</div>
<strong>Followers</strong>
<div *ngFor="#follower of followers"  class="media">
    <div class="media-body">
        <h4 class="media-heading">@{{follower?.login}}</h4>
    </div>
    <div class="media-bottom">
        <a href="#">
            <img class="media-object" class="avatar" src="{{follower?.avatar_url}}" alt="{{follower?.login}}">
        </a>
    </div>
</div>