<div class="media" *ngFor="#tweet of tweets" >
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{tweet.image}}" alt="Generic placeholder image">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{tweet.caption}}</h4>
     {{tweet.description}}
    <div class="media mt-2">
      <div class="media-body">
        <h4 class="media-heading">{{tweet.twitterHandle}}</h4>
        <heart [likes] = 'tweet.likeCount' [isSelected]='tweet.isLiked' ></heart>
      </div>
    </div>
  </div>
</div>